//Connecting basic settings
@import "settings";
//Variables $
@import "variables";
//Наследование %
@import "inherit";

@media (max-width: 1400px) {

  .nav {
    min-width: 730px;
    justify-content: space-around;
    margin-left: 13%;
  }
  .nav-item-contacts {
    flex-basis: 100px;
  }
  .nav-item-tell {
    margin: 50px 13% 0 0;
  }

  .theater-poster {
    display: none;
  }

  .img-little-theater {
    display: none;
  }

  .numbers {
    margin: 0;
  }

  .rewards-wrapper {
    width: 100%;
  }
  .rewards-img:after {
    width: 100%;
  }

  .img-theater {
    width: 100%;
  }


}

@media (max-width: 992px) {
  .header-wrapper {
    justify-content: end;
  }

  .nav {
    margin: 0;
    justify-content: space-between;
    min-width: 95%;
  }
  .hamburger {
    display: flex;
  }
  .nav-item {
    display: none;
  }
  .nav-item-tell {
    margin: 0 7% 0 0;
  }

  .aside-panel {
    display: none;
  }

  .img-theater {
    object-fit: cover;
  }

  .partners-promo {
    margin-top: 40px;
  }

  .partners-promo__wrapper {
    grid-gap: 16px;
  }

  .partners-img {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .about-theater-text {
    display: grid;
    justify-items: center;
  }

  .best-theater {
    margin-bottom: 30px;
    text-align: center;

  }
  .best-theater__text {
    margin: 0;
    width: 506px;
  }

  .numbers__title {
    margin-bottom: 40px;
    text-align: center;
  }

  .numbers-wrapper {
    display: flex;
  }
  .numbers__chair {
    margin-right: 60px;

  }

  .numbers__seating, .numbers__history {
    margin-top: 15px;
  }

  .rewards-wrapper__years {
    left: 10%;
    font-size: 50px;
    line-height: 70px;
    top: 168px;
    width: 120px;
  }

  .stars {
    top: 33%;
    left: 35%;
  }

  .rewards-wrapper__text {
    top: 240px;
    left: 35%;
    font-size: 25px;
    width: 300px;
  }

  .partners-promo__wrapper {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 576px) {
  .main-page {
    width: 95%;
  }
  .main-page__content {
    width: 100%;
  }

  .best-theater__text {
    width: 100%;
  }

  .about-theater-wrapper {
    width: 90%;
  }

  .rewards-wrapper__years {
    left: 5%;
    font-size: 40px;
    line-height: 50px;
    top: 168px;
    width: 83px;
  }

  .stars {
    top: 28%;
    left: 35%;
    letter-spacing: 15px;

  }

  .rewards-wrapper__text {
    top: 205px;
    left: 35%;
    font-size: 20px;
    width: 200px;
  }

  .partners-title {
    font-size: 35px;
  }
  .partners-img {
    width: 100px;
  }
}
