* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 3000px;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 3000px;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.header {
  padding-top: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.1em;
  padding-right: 0;
  text-transform: uppercase;
  font-style: normal;
  color: #FFFF;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 1000px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.line-top {
  width: 26px;
}

.line-middle {
  width: 23px;
}

.line-bottom {
  width: 20px;
}

.line-top, .line-middle, .line-bottom {
  height: 3px;
  background: #FFFF;
}

.nav-item__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFF;
}

.nav-item-contacts {
  flex-basis: 263px;
}

.nav-item-tell {
  border-bottom: 2px solid #D1A954;
}

.nav-item-tell__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFF;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 3000px;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.aside-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  background: rgba(51, 51, 51, 0.75);
  z-index: 10;
}

.aside-panel-wrapper {
  position: absolute;
  top: 50%;
  left: -130%;
  right: 0;
  bottom: 30%;
  width: 530px;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-network {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.social-network-icon {
  width: 26px;
  height: 26px;
  transform: rotate(90deg);
}

.icon {
  fill: rgba(255, 255, 255, 0.6);
  width: 26px;
  height: 26px;
}

.icon-inst {
  fill: #D1A954;
}

.aside-line {
  width: 80px;
  height: 3px;
  background: #c4c4c4;
}

.aside-contacts {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c4c4c4;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 3000px;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.section-main {
  display: flex;
  justify-content: space-evenly;
}

.main-page {
  margin: 390px 0 0 0;
}

.main-page__text {
  margin: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main-page__content {
  font-family: "Open Sans";
  margin: 50px 0 70px 0;
  width: 535px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.button-poster {
  height: 50px;
  padding: 20px 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #D1A954;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.theater-poster {
  margin-top: 200px;
}

.img-wrapper {
  position: relative;
}

.img-wrapper__poster {
  position: relative;
  width: 350px;
  height: 490px;
}

.img-background {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 350px;
  height: 490px;
  background: linear-gradient(0deg, rgba(209, 169, 84, 0.85), rgba(209, 169, 84, 0.85)), url("../img/poster.jpeg");
  background-size: 350px 490px;
}

.arrows {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  margin-top: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.arrows__previous, .arrows__next {
  height: 25px;
  display: flex;
  align-items: center;
}

.arrows__previous--light-grey {
  fill: #c4c4c4;
  width: 40px;
}

.arrows__next--grey {
  fill: #FFFF;
  width: 40px;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 3000px;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.about-theater {
  margin-top: 150px;
}

.about-theater__title {
  display: flex;
  justify-content: center;
  margin: 0 0 100px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.about-theater__title .about-theater__title-gold {
  color: #D1A954;
}

.about-theater-text {
  display: flex;
}

.best-theater__subtitle {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.best-theater__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  width: 382px;
  margin-right: 30px;
}

.numbers {
  display: grid;
  margin-right: 60px;
}

.numbers__title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.numbers-wrapper {
  display: grid;
}

.svg-icon {
  width: 70px;
  height: 70px;
}

.icon-furniture {
  fill: #FFFF;
}

.numbers__chair {
  display: grid;
}

.numbers__seating, .numbers__history {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.numbers__seating .numbers__seating-gold, .numbers__seating .numbers__history-gold, .numbers__history .numbers__seating-gold, .numbers__history .numbers__history-gold {
  color: #D1A954;
}

.numbers__stage {
  display: grid;
}

.img-little-theater {
  width: 350px;
  height: 292px;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 3000px;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.our-productions {
  margin-top: 150px;
}

.our-productions__title {
  margin: 0;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.our-productions__title .our-productions__title-gold {
  color: #D1A954;
}

.our-productions__img {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 100px;
}

.our-productions__img-gradient {
  position: relative;
  cursor: pointer;
}

.our-productions__img-gradient:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65));
}

.our-productions__img-gradient:hover:before {
  content: "";
  width: 0;
  z-index: 15;
}

.our-productions__img-gradient:hover:after {
  content: "";
  width: 24%;
  height: 18%;
  margin: -26px 0 0 -26px;
  position: absolute;
  top: 50%;
  left: 45%;
  clip-path: circle(50%);
  background: url("../img/magnfire.svg") 50% 50% no-repeat #D1A954;
  z-index: 5;
}

.our-productions-info-all {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
}

.our-productions-info-all:hover {
  opacity: 0;
}

.our-productions-info {
  position: absolute;
  top: 40px;
  left: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.our-productions-info-bottom {
  position: absolute;
  bottom: 90px;
  left: -15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: rotate(-90deg);
}

.oscar-2020, .general-staff, .nutcracker, .golden-gramophone {
  width: 440px;
  height: 550px;
  object-fit: cover;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 3000px;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

@media (max-width: 1400px) {
  .nav {
    min-width: 730px;
    justify-content: space-around;
    margin-left: 13%;
  }

  .nav-item-contacts {
    flex-basis: 100px;
  }

  .nav-item-tell {
    margin: 50px 13% 0 0;
  }

  .theater-poster {
    display: none;
  }

  .img-little-theater {
    display: none;
  }

  .numbers {
    margin: 0;
  }
}
@media (max-width: 992px) {
  .header-wrapper {
    justify-content: end;
  }

  .nav {
    margin: 0;
    justify-content: space-between;
    min-width: 95%;
  }

  .hamburger {
    display: flex;
  }

  .nav-item {
    display: none;
  }

  .nav-item-tell {
    margin: 0 7% 0 0;
  }

  .aside-panel {
    display: none;
  }
}
@media (max-width: 768px) {
  .about-theater-text {
    display: grid;
    justify-items: center;
  }

  .best-theater {
    margin-bottom: 30px;
    text-align: center;
  }

  .best-theater__text {
    margin: 0;
    width: 506px;
  }

  .numbers__title {
    margin-bottom: 40px;
    text-align: center;
  }

  .numbers-wrapper {
    display: flex;
  }

  .numbers__chair {
    margin-right: 60px;
  }

  .numbers__seating, .numbers__history {
    margin-top: 15px;
  }
}
@media (max-width: 576px) {
  .main-page {
    width: 90%;
  }

  .main-page__content {
    width: 100%;
  }

  .best-theater__text {
    width: 100%;
  }

  .about-theater-wrapper {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
