* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.header {
  padding-top: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.1em;
  padding-right: 0;
  text-transform: uppercase;
  font-style: normal;
  color: #FFFF;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 1000px;
  list-style: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.hamburger-wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 85%;
  padding: 0;
  list-style: none;
}

.line-top {
  width: 26px;
}

.line-middle {
  width: 23px;
}

.line-bottom {
  width: 20px;
}

.line-top, .line-middle, .line-bottom {
  height: 3px;
  background: #FFFF;
  transition: transform 0.5s;
}

.social-network-hamburger {
  display: none;
}

.nav-item__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFF;
}

.nav-item-contacts {
  flex-basis: 263px;
}

.nav-item-tell {
  border-bottom: 2px solid #d1a954;
}

.nav-item-tell__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFF;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.aside-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  background: rgba(51, 51, 51, 0.75);
  z-index: 10;
}

.aside-panel-wrapper {
  position: absolute;
  top: 50%;
  left: -130%;
  right: 0;
  bottom: 30%;
  width: 530px;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-network {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.social-network-icon {
  width: 26px;
  height: 26px;
  transform: rotate(90deg);
}

.icon {
  fill: rgba(255, 255, 255, 0.6);
  width: 26px;
  height: 26px;
}

.icon-inst {
  fill: #d1a954;
}

.aside-line {
  width: 80px;
  height: 3px;
  background: #c4c4c4;
}

.aside-contacts {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c4c4c4;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.section-main {
  display: flex;
  justify-content: space-evenly;
}

.main-page {
  margin: 390px 0 0 0;
}

.main-page__text {
  margin: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main-page__content {
  font-family: "Open Sans";
  margin: 50px 0 70px 0;
  width: 535px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.button-poster, .button {
  height: 50px;
  padding: 20px 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #d1a954;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.theater-poster {
  margin-top: 200px;
}

.slider {
  min-width: 180%;
}

.img-wrapper {
  position: relative;
  display: flex;
}

.img-wrapper__la-scala {
  position: absolute;
  background: url("../img/poster.jpeg");
  background-size: 350px 490px;
}

.img-background {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 350px;
  height: 490px;
  background: linear-gradient(0deg, rgba(209, 169, 84, 0.85), rgba(209, 169, 84, 0.85)), url("../img/poster.jpeg");
  background-size: 350px 490px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.img-wrapper__la-scala {
  width: 350px;
  height: 490px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.arrows {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  margin-top: 600px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.arrows-previous {
  display: flex;
  cursor: pointer;
}

.arrows-next {
  display: flex;
  cursor: pointer;
}

.svg-previous {
  margin-right: 20px;
  height: 25px;
}

.svg-next {
  margin-left: 20px;
  height: 25px;
}

.svg-previous--light-grey {
  fill: #FFFF;
  width: 40px;
}

.svg-next--grey {
  fill: #FFFF;
  width: 40px;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.about-theater {
  margin-top: 150px;
}

.about-theater__title {
  font-family: "Open Sans Condensed";
  display: flex;
  justify-content: center;
  margin: 0 0 100px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}
.about-theater__title .about-theater__title-gold {
  color: #d1a954;
}

.about-theater-text {
  display: flex;
}

.best-theater__subtitle {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.best-theater__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  width: 382px;
  margin-right: 30px;
}

.numbers {
  display: grid;
  margin-right: 60px;
}

.numbers__title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.numbers-wrapper {
  display: grid;
}

.svg-icon {
  width: 70px;
  height: 70px;
}

.icon-furniture {
  fill: #FFFF;
}

.numbers__chair {
  display: grid;
}

.numbers__seating, .numbers__history {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.numbers__seating .numbers__seating-gold, .numbers__seating .numbers__history-gold, .numbers__history .numbers__seating-gold, .numbers__history .numbers__history-gold {
  color: #d1a954;
}

.numbers__stage {
  display: grid;
}

.img-little-theater {
  width: 350px;
  height: 292px;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.our-productions {
  margin-top: 150px;
}

.our-productions__title {
  margin: 0;
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.our-productions__title .our-productions__title-gold {
  color: #d1a954;
}

.our-productions__img {
  display: flex;
  justify-content: end;
  margin-top: 100px;
  user-select: none;
}

.carousel {
  position: relative;
  width: 1760px;
  height: 570px;
  overflow: hidden;
}

.carousel::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.carousel-wrapper {
  display: flex;
  position: absolute;
}

.our-productions__img-gradient {
  position: relative;
  cursor: pointer;
}

.our-productions__img-gradient:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65));
}

.our-productions__img-gradient:hover:before {
  content: "";
  width: 0;
}

.loupe-one, .loupe-two, .loupe-three, .loupe-four {
  width: 26.5%;
  height: 21.1%;
  margin: -26px 0 0 -26px;
  position: absolute;
  top: 45%;
  left: 43%;
  clip-path: circle(45%);
  background: url("../img/magnfire.svg") 50% 50% no-repeat #d1a954;
}

.our-productions-info-all {
  position: absolute;
  width: 100%;
  height: 100%;
}

.our-productions-info-all:hover {
  opacity: 0;
}

.our-productions-info {
  position: absolute;
  top: 40px;
  left: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.our-productions-info-bottom {
  position: absolute;
  bottom: 90px;
  left: -15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: rotate(-90deg);
}

.oscar-2020, .general-staff, .nutcracker, .golden-gramophone {
  width: 440px;
  height: 550px;
  object-fit: cover;
}

.window-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 25;
}

.window-background {
  background: #1d1a1a;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  --weight: 1px;
  --aa: 1px;
  /* anti-aliasing */
  --color: #a7a0a0;
  border-radius: 3px;
  z-index: 30;
  background: linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))), linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
}

.window-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.rewards {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.rewards-wrapper {
  position: relative;
  width: 1110px;
  height: 600px;
}

.rewards-img:after {
  content: "";
  position: absolute;
  width: 1110px;
  height: 550px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9));
}

.img-theater {
  position: absolute;
  width: 1110px;
  height: 550px;
}

.rewards-wrapper__years {
  position: absolute;
  top: 140px;
  left: 20%;
  width: 160px;
  height: fit-content;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #d1a954;
}

.stars {
  position: absolute;
  top: 30%;
  left: 44%;
  letter-spacing: 22px;
}
.stars .star-icon {
  width: 26px;
  height: 24px;
}
.stars .star-icon .icon-previous {
  fill: #d1a954;
}

.rewards-wrapper__text {
  font-family: "Open Sans";
  position: absolute;
  top: 40%;
  left: 44%;
  width: 425px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.partners {
  margin-top: 150px;
}

.partners-title {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.partners-title .partners-title__gold {
  color: #d1a954;
}

.partners-promo {
  display: grid;
  justify-items: center;
  margin-top: 100px;
}

.partners-promo__wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.maecenas {
  display: flex;
  margin-top: 120px;
  flex-direction: column;
}

.maecenas-title {
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.maecenas-title .maecenas-title__gold {
  color: #d1a954;
}

.maecenas-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  min-width: 70%;
  margin: 100px auto 0 auto;
  border-bottom: 1px solid #565656;
  padding-bottom: 60px;
}

.contacts {
  display: grid;
  margin-right: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.form-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 720px;
}

.form-label {
  display: flex;
  justify-content: space-between;
}

.form-label-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.form-label__input-name, .form-label__input-company, .form-label__input-email, .form-label__input-tel {
  font-family: "Open Sans";
  padding-left: 15px;
  min-width: 180px;
  height: 35px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  outline: none;
  background: #444444;
  border: 1px solid #616161;
}

.form-label__input-name:focus {
  border: 1px solid #d1a954;
}

.form-label__input-company:focus {
  border: 1px solid #d1a954;
}

.form-label__input-email:focus {
  border: 1px solid #d1a954;
}

.form-label__input-tel:focus {
  border: 1px solid #d1a954;
}

.form-message__textarea {
  font-family: "Open Sans";
  padding: 10px 0 0 15px;
  width: 310px;
  background: #444444;
  border: 1px solid #616161;
  resize: none;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  outline: none;
}

.form-message__textarea:focus {
  border: 1px solid #d1a954;
}

.form-send {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.notice-privacy {
  font-family: "Open Sans";
  max-width: 55%;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}

.form-message__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 70%;
}

.footer-wrapper__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0 20px 0;
}

.right-reserved {
  margin-right: 590px;
}

.right-reserved, .developer-design {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
  color: #FFFF;
}

.container-page {
  background: #333333;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 1045px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0.85) 20%), url("../img/background-theater.jpeg") no-repeat top center;
}

@media (max-width: 1400px) {
  .nav {
    min-width: 70%;
    justify-content: space-around;
    margin-left: 13%;
  }

  .nav-item-contacts {
    flex-basis: 100px;
  }

  .nav-item-tell {
    margin: 50px 12% 0 0;
  }

  .theater-poster {
    display: none;
  }

  .img-little-theater {
    display: none;
  }

  .numbers {
    margin: 0;
  }

  .our-productions__img {
    justify-content: start;
    margin: 100px 80px 0 auto;
  }

  .rewards-wrapper {
    width: 100%;
  }

  .rewards-img:after {
    width: 100%;
  }

  .img-theater {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .header-wrapper {
    justify-content: end;
  }

  .nav {
    margin: 0;
    justify-content: space-between;
    min-width: 95%;
  }

  .nav-open {
    justify-content: end;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
    z-index: 20;
  }

  .button-hamburger {
    position: fixed;
    left: 245px;
  }

  .line-top-animate {
    position: relative;
    top: 4px;
    width: 33px;
    transition: transform cubic-bezier(0.26, -0.01, 1, 1) 0.5s;
    transform: rotate(140deg);
  }

  .line-middle-animate {
    display: none;
  }

  .line-bottom-animate {
    width: 33px;
    transition: transform cubic-bezier(0.26, -0.01, 1, 1) 0.5s;
    transform: rotate(42deg);
  }

  .hamburger-wrapper {
    display: none;
  }

  .hamburger-open {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 300px;
    padding: 0;
    background: #333333;
    z-index: 18;
  }

  .nav-item {
    display: flex;
    margin-left: 40px;
  }

  .nav-item-main {
    margin-top: 140px;
  }

  .nav-item-contacts {
    flex-basis: 0;
  }

  .social-network-hamburger {
    display: flex;
    justify-content: end;
    margin-top: 90px;
    width: 100%;
    flex-wrap: wrap;
  }

  .social-network-hamburger__link {
    flex-basis: 40%;
    margin-bottom: 20px;
  }

  .social-network-hamburger-icon {
    width: 45px;
    height: 45px;
    transform: none;
  }
  .social-network-hamburger-icon .icon, .social-network-hamburger-icon .icon-inst {
    fill: #FFFF;
  }

  .icon-fb {
    order: -1;
  }

  .icon-inst {
    order: 2;
  }

  .icon-yt {
    order: 3;
  }

  .icon-vk {
    order: 4;
  }

  .nav-item-tell {
    margin: 0 7% 0 0;
  }

  .aside-panel {
    display: none;
  }

  .img-theater {
    object-fit: cover;
  }

  .partners-promo {
    margin-top: 40px;
  }

  .partners-promo__wrapper {
    grid-gap: 16px;
  }

  .partners-img {
    width: 150px;
  }

  .maecenas-wrapper {
    justify-content: center;
    max-width: 70%;
  }

  .contacts {
    margin-top: 80px;
    display: grid;
    grid-template: "tel-1 em em" 40px "tel-2 addr addr" 40px/1fr 3.1fr 1fr;
    justify-items: end;
  }

  .telephone-first {
    grid-area: tel-1;
    width: 140px;
  }

  .telephone-second {
    grid-area: tel-2;
    width: 140px;
  }

  .email {
    grid-area: em;
  }

  .address {
    grid-area: addr;
  }

  .form-label-input {
    margin-right: 10px;
  }

  .right-reserved {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .about-theater-text {
    display: grid;
    justify-items: center;
  }

  .best-theater {
    margin-bottom: 30px;
    text-align: center;
  }

  .best-theater__text {
    margin: 0;
    width: 506px;
  }

  .numbers__title {
    margin-bottom: 40px;
    text-align: center;
  }

  .numbers-wrapper {
    display: flex;
  }

  .numbers__chair {
    margin-right: 60px;
  }

  .numbers__seating, .numbers__history {
    margin-top: 15px;
  }

  .our-productions__img {
    margin: 100px 20px 0 auto;
  }

  .rewards-wrapper__years {
    left: 10%;
    font-size: 50px;
    line-height: 70px;
    top: 168px;
    width: 120px;
  }

  .stars {
    top: 33%;
    left: 35%;
  }

  .rewards-wrapper__text {
    top: 240px;
    left: 35%;
    font-size: 25px;
    width: 300px;
  }

  .partners-promo__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .maecenas-wrapper {
    width: 90%;
    margin: 100px auto 0 auto;
  }

  .form-label {
    flex-wrap: wrap;
  }

  .form-label-input {
    width: 47%;
    margin: 0;
  }

  .form-label__input-name, .form-label__input-company, .form-label__input-email, .form-label__input-tel {
    min-width: 100%;
  }

  .form-message__textarea {
    margin-top: 30px;
    width: 100%;
    height: 100px;
  }

  .form-send {
    flex-direction: column-reverse;
    align-items: center;
  }

  .notice-privacy {
    margin-top: 40px;
    max-width: 70%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .main-page {
    width: 95%;
  }

  .main-page__content {
    width: 100%;
  }

  .best-theater__text {
    width: 100%;
  }

  .about-theater-wrapper {
    width: 90%;
  }

  .img-theater {
    height: 365px;
  }

  .rewards-img:after {
    height: 100%;
  }

  .rewards-wrapper {
    height: 370px;
  }

  .rewards-wrapper__years {
    left: 5%;
    font-size: 40px;
    line-height: 70px;
    top: 80px;
    width: 83px;
  }

  .stars {
    top: 30%;
    left: 35%;
    letter-spacing: 15px;
  }

  .rewards-wrapper__text {
    top: 140px;
    left: 35%;
    font-size: 20px;
    width: 200px;
  }

  .partners-title {
    font-size: 35px;
  }

  .partners-img {
    width: 100px;
  }

  .form-label-input {
    margin: 0;
  }

  .contacts {
    grid-template: "tel-1" 40px "tel-2" 40px "em" 40px "addr" 40px/1fr;
    justify-items: center;
  }

  .footer-wrapper__bottom {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
