//Connecting basic settings
@import "../settings";
//Variables $
@import "../variables";

.header {
  padding-top: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.1em;
  padding-right: 0;
  text-transform: uppercase;
  font-style: normal;
  color: $white;

}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 1000px;
  list-style: none;

}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.hamburger-wrapper{
  display: flex;
  justify-content: space-between;
  min-width: 85%;
  padding: 0;
  list-style: none;

}

.line-top {
  width: 26px;
}

.line-middle {
  width: 23px;
}

.line-bottom {
  width: 20px;
}


.line-top, .line-middle, .line-bottom {
  height: 3px;
  background: $white;
  transition: transform 0.5s;

}

.social-network-hamburger{
  display: none;
}

.nav-item__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $white;
}

.nav-item__link:hover{
  color: $black;
}

.nav-item-contacts {
  flex-basis: 263px;
}

.nav-item-tell {
  border-bottom: 2px solid $gold;
}

.nav-item-tell__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $white;
}

.nav-item-tell__link:hover{
color: $black;
}


