//Connecting basic settings
@import "../settings";
//Variables $
@import "../variables";
//Наследование %
@import "../inherit";

.maecenas {
  display: flex;
  //justify-content: center;
  margin-top: 120px;
  flex-direction: column;

}

.maecenas-title {
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  .maecenas-title__gold {
    color: $gold;
  }
}

.maecenas-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  min-width: 70%;
  margin: 100px auto 0 auto;
  border-bottom: 1px solid #565656;
  padding-bottom: 60px;
}


.contacts {
  display: grid;
  margin-right: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

}

.form-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 720px;
}

.form-label {
  display: flex;
  justify-content: space-between;

}

.form-label-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.form-label__input-name, .form-label__input-company, .form-label__input-email, .form-label__input-tel {
  font-family: $font-second;
  padding-left: 15px;
  min-width: 180px;
  height: 35px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  outline: none;
  background: #444444;
  border: 1px solid #616161;

}

.form-label__input-name:focus {
  border: 1px solid $gold;

}

.form-label__input-company:focus {
  border: 1px solid $gold;
}

.form-label__input-email:focus {
  border: 1px solid $gold;

}

.form-label__input-tel:focus {
  border: 1px solid $gold;

}

.form-message__textarea {
  font-family: $font-second;
  padding: 10px 0 0 15px;
  width: 310px;
  background: #444444;
  border: 1px solid #616161;
  resize: none;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  outline: none;

}

.form-message__textarea:focus {
  border: 1px solid $gold;
}

.form-send {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.notice-privacy {
  font-family: $font-second;
  max-width: 55%;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $medium-grey;
}

.form-message__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
}