//Connecting basic settings
@import "../settings";
//Variables $
@import "../variables";

.partners {
  margin-top: 150px;
}

.partners-title {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  .partners-title__gold {
    color: $gold;
  }

}

.partners-promo {
  display: grid;
  justify-items: center;
  margin-top: 100px;

}

.partners-promo__wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
}

