//Connecting basic settings
@import "../settings";
//Variables $
@import "../variables";
//Наследование %
@import "../inherit";

.rewards {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.rewards-wrapper {
  position: relative;
  width: 1110px;
  height: 600px;

}


.rewards-img:after {
  content: "";
  position: absolute;
  width: 1110px;
  height: 550px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9));

}

.img-theater {
  position: absolute;
  width: 1110px;
  height: 550px;

}

.rewards-wrapper__years {
  position: absolute;
  top: 140px;
  left: 20%;
  width: 160px;
  height: fit-content;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $gold;
}

.stars {
  position: absolute;
  top: 30%;
  left: 44%;
  letter-spacing: 22px;

  .star-icon {
    width: 26px;
    height: 24px;

    .icon-previous {
      fill: $gold;
    }
  }

}


.rewards-wrapper__text {
  font-family: $font-second;
  position: absolute;
  top: 40%;
  left: 44%;
  width: 425px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

